APP_ENV=development
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/stationery
GEMINI_API_KEY=your_key_here
FAISS_INDEX_PATH=./data/faiss.index
SECRET_KEY=your_secret_key
ALGORITHM=HS256
SHOP_OWNER_EMAIL=owner@gmail.com
SHOP_OWNER_NAME=owner
SHOP_OWNER_PASSWORD=123456